[submodule "/Users/elekei/dotfiles/vimfiles/vundle.git"]
	path = /Users/elekei/dotfiles/vimfiles/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule "/Users/elekei/dotfiles/vimfiles/neobundle.git"]
	path = /Users/elekei/dotfiles/vimfiles/neobundle.git
	url = https://github.com/Shougo/neobundle.vim
[submodule "/Users/elekei/dotfiles/vimfiles/vimproc"]
	path = /Users/elekei/dotfiles/vimfiles/vimproc
	url = https://github.com/Shougo/vimproc.vim
